# Porta onde o microsserviço de Vagas irá rodar
PORT=<PORTA_DO_SERVICO>

# Conexão com o banco de dados MongoDB
MONGODB_URI=mongodb://<HOST>:<PORTA>/<NOME_DO_BANCO>

# URL do microsserviço de Empresas para comunicação interna
EMPRESAS_SERVICE_URL=http://<HOST>:<PORTA>/empresas